body{
    font-family: "Noto Sans Japanese-Normal", sans-serif;
}

header{
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
}

a{
    text-decoration: none;
    line-height: 30.4px;
}

p{
    line-height: 30.4px;
}

nav{
    max-width: 1160px;
    min-width: 960px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: baseline;
}
.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn-red{
    padding: 0 40px 0 20px;
    margin-left: 24px;
    background-color: rgb(236, 5, 61);
    border-radius: 100px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.btn-red img{
    height: 40px;
}
.nav-item{
    padding: 24px 12px;
    height: 100%;
    text-decoration: none;
    color: #505563;
    font-weight: 400;
}
.nav-item:hover{
    color: rgb(255, 110, 6);
}

.space{
    margin-top: 90px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}


.w-100{
    width: 100%;
}
.mt-40{
    margin-top: 40px;
}
.mt-80{
    margin-top: 80px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-100{
    margin-bottom: 100px;
}
.pb-240{
    padding-bottom: 240px;
}


.color-orange{
    color: rgb(255, 110, 6);
}
.color-blue{
    color: rgb(6, 76, 140);
}
.color-darkblue{
    color: rgb(0, 0, 128);
}
.color-dark{
    color: rgb(37, 41, 50);
}
.color-red{
    color: rgb(255, 0, 0);
}
.color-white{
    color: #fff;
}

h2{
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 80px;
    font-family: "arial black", impact, sans-serif;
}

.fs-32{
    font-size: 32px;
}
.fs-20{
    font-size: 20px;
}
.fs-24{
    font-size: 24px;
}

.fw-700{
    font-weight: 700;
}
.fw-400{
    font-weight: 400;
}

.text-nowrap{
    text-wrap: nowrap;
}

.icon{
    width: 44px;
    height: 44px;
    object-fit: cover;
    margin-right: 20px;
}

/* banner */
.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 80px;
}
.banner p{
    color: rgb(89, 89, 89);
}
.banner-text{
    text-wrap: nowrap;
    padding-top: 20px;
}
.banner-btn{
    padding: 12px 20px;
    margin-top: 60px;
    margin-bottom: 100px;
    background-color: rgb(6, 76, 140);
    color: #fff;
    border: 0;
    border-radius: 8px;
}
.banner-img{
    padding-top: 160px;
    padding-bottom: 160px;
    object-fit: cover;
    background-image: url(background/New-official-website_v2_首圖.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 1160px;
    margin: 0 auto;
    flex-shrink: 0;
}

/* world-map */
.world-img{
    height: 720px;
    background-image: url(background/New-official-website_v2_country.png);
    background-position: center;
    background-size: 100%;
    object-fit: cover;
}
.world-text{
    font-size: 16px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    text-align: center;
    padding-top: 120px;
}

.section-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* intro */
.intro{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.intro-title{
    font-size: 22px;
    font-weight: 700;
    color: rgb(6, 76, 140);
    margin-bottom: 60px;
    padding-left: 64px;
}
.intro-text{
    font-size: 20px;
    font-weight: 700;
    color: rgb(37, 41, 50);
    margin-bottom: 10px;
}



/* partner */
.partner-title{
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 28px;
    font-weight: 700;
    color: rgb(37, 41, 50);
    text-align: center;
}
.partner-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid rgb(240, 242, 247);
}
.partner-tab{
    padding: 14px 20px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30.4px;
    color: rgb(102, 102, 102);
    background-color: white;
    border: 0;
}
.partner-tab:hover{
    color: rgb(37, 41, 50);
    cursor: pointer;
}
.partner-tab.active{
    margin-bottom: 0;
    color: rgb(37, 41, 50);
    border-bottom: 4px solid rgb(255, 110, 6);
}
.partner-logo{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.logo-box{
    width: calc(100% / 6);
    height: 160px;
    text-align: center;
}
.partner-logo img{
    width: 180px;
    overflow: hidden;
    transform-origin: center;
    transition: 0.35s ease-in-out;
}
.partner-logo img:hover{
    width: 190px;
    transform: matrix(1.1);
}

/* form */
.form-container{
    width: 740px;
    margin: 0 auto;
    padding: 35px 10px 60px 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
}
.form-title{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: rgb(6, 76, 140);
}
.form-text{
    font-size: 16px;
    color: rgb(37, 41, 50);
    margin-bottom: 20px;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 0 130px;
}
label{
    text-align: center;
    margin-bottom: 12px;
}
input{
    width: 480px;
    height: 28px;
    padding: 10px 12px;
    margin-top: 8px;
    border:1px solid rgb(221, 221, 221);
    border-radius: 4px;
}
select{
    width: 508px;
    height: 48px;
    padding: 10px 12px;
    margin-top: 8px;
    border: 1px solid rgb(221, 221, 221);
}
.form-submit{
    padding: 14px 60px;
    background-color: rgb(255, 110, 6);
    color: #fff;
    border: 0;
    border-radius: 100px;
    font-size: 13px;
    font-weight: 700;
    margin-top: 24px;
}
.caution{
    font-size: 10px;
    font-weight: 400;
    color: rgb(37, 41, 50);
}

.more{
    padding: 80px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.more-btn{
    padding: 20px 30px;
    font-size: 20px;
    width: auto;
    border: 0;
    border-radius: 10px;
    background-color: rgb(6, 76, 140);
    color: #fff;
}

.try{
    width: 1160px;
    margin: 0 auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}
.try-title{
    font-size: 16px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
}
.try-text{
    font-size: 14px;
    font-weight: 400;
    color: rgb(37, 41, 50);
    margin-bottom: 20px;
}
.tel{
    font-size: 28px;
    font-weight: 700;
    color: rgb(37, 41, 50);
}

.try-content{
    width: 100%;
    margin-top: 40px;
    text-align: center;
}
.try-btn{
    padding: 12px 20px;
    background-color: rgb(255, 110, 6);
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    border-radius: 10px;
}
.border-left{
    border-left: 1px solid rgb(203, 209, 220);
}


/* background-img */
.top-bg-img{
    width: 100%;
    object-fit: cover;
    background-image: url(background/New-official-website_v2_hp_background1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}
.center-bg-img{
    width: 100%;
    object-fit: cover;
    background-image: url(background/New-official-website_v2_hp_background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
}
.bottom-bg-img{
    object-fit: cover;
    background-image: url("background/New-official-website_v2_form_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}


/* footer */
footer{
    width: 100%;
    padding: 60px 0;
    background-color: rgb(37, 41, 50);
}
.footer-container{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
}
footer h3{
    font-size: 12px;
    color: rgb(227, 230, 237);
    border-bottom: 20px;
    margin-bottom: 20px;
}
footer p{
    color: rgb(227, 230, 237);
}
footer li{
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid rgb(56, 64, 68);
}
footer li a{
    color: rgb(227, 230, 237);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
footer li a:hover{
    color: rgb(255, 110, 6);
}
.address-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.country{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 14px;
}
address{
    font-size: 12px;
    text-wrap: wrap;
    color: rgb(227, 230, 237);
}
.contact{
    font-size: 16px;
    margin-bottom: 16px;
}
.contact a{
    color: rgb(227, 230, 237);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.contact a:hover{
    color: rgb(255, 110, 6);
}
.language{
    color: rgb(227, 230, 237);
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 30.4px;
    text-decoration: none;
}
.language:hover{
    color: rgb(255, 110, 6);
    cursor: pointer;
}
.language-disabled{
    color: black;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 30.4px;
    text-decoration: none;
}

.copy-right{
    width: 100%;
    padding: 14px 0;
    float: bottom;
    color: rgb(158, 166, 183);
    background-color: rgb(25, 28, 35);
}
.copy-right-container{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copy-right a{
    color: rgb(158, 166, 183);
}
.copy-right a:hover{
    color: rgb(255, 110, 6);
}
.official{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.facebook{
    width: 21px;
    height: 21px;
    background-image: url(img/official/facebook.svg);
    background-repeat: no-repeat;
}
.instagram{
    width: 21px;
    height: 21px;
    background-image: url(img/official/instagram.svg);
    background-repeat: no-repeat;
}
.youtube{
    width: 21px;
    height: 21px;
    background-image: url(img/official/youtube.svg);
    background-repeat: no-repeat;
}
.medium{
    width: 21px;
    height: 21px;
    background-image: url(img/official/medium.svg);
    background-repeat: no-repeat;
}

.facebook:hover{
    background-image: url(img/official/facebook_hover.svg);
}
.instagram:hover{
    background-image: url(img/official/instagram_hover.svg);
}
.youtube:hover{
    background-image: url(img/official/youtube_hover.svg);
}
.medium:hover{
    background-image: url(img/official/medium_hover.svg);
}