body{
    font-family: "Noto Sans Japanese-Normal", sans-serif;
}

a{
    text-decoration: none;
    line-height: 30.4px;
}

p{
    line-height: 30.4px;
}

.container{
    width: 1200px;
    margin: 0 auto;
    flex-shrink: 0;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.w-100{
    width: 100%;
}
.mt-40{
    margin-top: 40px;
}
.mb-100{
    margin-bottom: 100px;
}
.pb-200{
    padding-bottom: 200px;
}


.color-orange{
    color: rgb(255, 110, 6);
}
.color-dark{
    color: rgb(37, 41, 50);
}
.color-red{
    color: rgb(255, 0, 0);
}

h2{
    font-size: 44px;
    font-weight: 700;
    font-family: "arial black", impact, sans-serif;
}

.section-text{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.strong-26{
    font-size: 26px;
    line-height: 50.7px;
    font-weight: 700;
    color: rgb(236, 99, 0);
    margin-bottom: 40px;
}
.strong-30{
    font-size: 30px;
    line-height: 55.7px;
    font-weight: 700;
    color: rgb(255, 102, 0);
    margin: 40px 0;
}
.strong-32{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 60px;
}
.fs-20{
    font-size: 20px;
}

.fw-700{
    font-weight: 700;
}
.fw-400{
    font-weight: 400;
}

.icon{
    width: 44px;
    height: 44px;
    object-fit: cover;
    margin-right: 20px;
}


/* header */
header{
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
}
nav{
    height: 90px;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: baseline;
}
.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn-red{
    padding: 0 40px 0 20px;
    margin-left: 24px;
    background-color: rgb(236, 5, 61);
    border-radius: 100px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.btn-red img{
    height: 40px;
}
.btn-red:hover{
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, .25);
}
.nav-item{
    padding: 24px 12px;
    height: 100%;
    text-decoration: none;
    color: #505563;
    font-weight: 400;
}
.nav-item:hover{
    color: rgb(255, 110, 6);
}
.space{
    margin-top: 90px;
}


/* banner */
.banner{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner p{
    color: rgb(89, 89, 89);
}
.banner-text{
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.banner-btn{
    padding: 12px 20px;
    margin-bottom: 100px;
    background-color: rgb(6, 76, 140);
    color: #fff;
    border: 0;
    border-radius: 8px;
}
.banner-img{
    padding-top: 100px;
    padding-bottom: 100px;
    object-fit: cover;
    background-image: url(background/New-official-website_v2_首圖.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}



/* world-map */
.world-img{
    height: 720px;
    background-image: url(background/New-official-website_v2_country.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}
.world-text{
    margin: 0 20px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    text-align: center;
    padding-top: 120px;
}


/* intro */
.intro-section{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.intro{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.intro-title{
    font-size: 22px;
    font-weight: 700;
    color: rgb(6, 76, 140);
    margin-bottom: 60px;
    padding-left: 64px;
}
.intro-text{
    font-size: 18px;
    font-weight: 700;
    color: rgb(37, 41, 50);
    margin-bottom: 10px;
}


/* partner */
.partner{
    margin-top: 60px;
    margin-bottom: 120px;
    font-size: 28px;
    font-weight: 700;
    color: rgb(37, 41, 50);
    text-align: center;
}
.partner-nav{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid rgb(240, 242, 247);
}
.partner-tab{
    padding: 14px 20px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30.4px;
    color: rgb(102, 102, 102);
    background-color: white;
    border: 0;
}
.partner-tab:hover{
    color: rgb(37, 41, 50);
    cursor: pointer;
}
.partner-tab.active{
    margin-bottom: 0;
    color: rgb(37, 41, 50);
    border-bottom: 4px solid rgb(255, 110, 6);
}
.partner-logo{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.logo-box{
    width: calc(100% / 6);
    height: 160px;
    text-align: center;
}
.partner-logo img{
    width: 180px;
    overflow: hidden;
    transform-origin: center;
    transition: 0.35s ease-in-out;
}
.partner-logo img:hover{
    width: 190px;
    transform: matrix(1.1);
}


/* form */
.form-container{
    width: 740px;
    margin: 0 auto;
    padding: 35px 10px 60px 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
}
.form-title{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: rgb(6, 76, 140);
}
.form-text{
    font-size: 16px;
    color: rgb(37, 41, 50);
    margin-bottom: 20px;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 0 130px;
}
label{
    text-align: center;
    margin-bottom: 12px;
}
input{
    width: 480px;
    height: 28px;
    padding: 10px 12px;
    margin-top: 8px;
    border:1px solid rgb(221, 221, 221);
    border-radius: 4px;
}
select{
    width: 508px;
    height: 48px;
    padding: 10px 12px;
    margin-top: 8px;
    border: 1px solid rgb(221, 221, 221);
}
.form-submit{
    padding: 14px 60px;
    background-color: rgb(255, 110, 6);
    color: #fff;
    border: 0;
    border-radius: 100px;
    font-size: 13px;
    font-weight: 700;
    margin-top: 24px;
}
.caution{
    font-size: 10px;
    font-weight: 400;
    color: rgb(37, 41, 50);
}


/* more&try */
.more{
    padding: 80px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.more-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 60.8px;
    color: rgb(37, 41, 50);
    margin-bottom: 60px;
}
.more-btn{
    padding: 20px 30px;
    font-size: 20px;
    width: auto;
    border: 0;
    border-radius: 10px;
    background-color: rgb(6, 76, 140);
    color: #fff;
}
.try{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}
.try-title{
    font-size: 22px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
}
.try-text{
    font-size: 14px;
    font-weight: 400;
    color: rgb(37, 41, 50);
    margin-bottom: 20px;
}
.tel{
    font-size: 28px;
    font-weight: 700;
    color: rgb(37, 41, 50);
}
.try-content{
    width: 100%;
    margin-top: 40px;
    text-align: center;
}
.try-btn{
    padding: 12px 20px;
    background-color: rgb(236, 99, 55);
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    border-radius: 10px;
}
.border-left{
    border-left: 1px solid rgb(203, 209, 220);
}


/* background-img */
.top-bg-img{
    width: 100%;
    object-fit: cover;
    background-image: url(background/New-official-website_v2_hp_background1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}
.center-bg-img{
    width: 100%;
    object-fit: cover;
    background-image: url(background/New-official-website_v2_hp_background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;

    display: flex;
    flex-direction: column;
    gap: 120px;
}
.bottom-bg-img{
    object-fit: cover;
    background-image: url("background/New-official-website_v2_form_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}


/* footer */
footer{
    width: 100%;
    padding: 60px 0;
    background-color: rgb(37, 41, 50);
}
.footer-container{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
}
footer h3{
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    color: rgb(227, 230, 237);
    border-bottom: 20px;
    margin-bottom: 20px;
}
footer p{
    color: rgb(227, 230, 237);
}
footer li{
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid rgb(56, 64, 68);
}
footer li a{
    color: rgb(227, 230, 237);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
footer li a:hover{
    color: rgb(255, 110, 6);
}
.address-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.country{
    font-size: 14px;
    font-weight: 700;
    color: rgb(227, 230, 237);
    margin-bottom: 14px;
}
address{
    font-size: 12px;
    font-weight: 400;
    line-height: 13.5px;
    color: rgb(227, 230, 237);
}
.contact{
    font-size: 16px;
    margin-bottom: 16px;
}
.contact a{
    color: rgb(227, 230, 237);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.contact a:hover{
    color: rgb(255, 110, 6);
}
.language{
    color: rgb(227, 230, 237);
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 30.4px;
    text-decoration: none;
    padding-left: 0;
}
.language:hover{
    color: rgb(255, 110, 6);
    cursor: pointer;
}
.language-disabled{
    color: black;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 30.4px;
    text-decoration: none;
    padding-left: 0;
}
.official{
    color: rgb(227, 230, 237);
}
.official:hover{
    color: rgb(255, 110, 6);
}

.copy-right{
    width: 100%;
    height: 56px;
    float: bottom;
    color: rgb(158, 166, 183);
    background-color: rgb(25, 28, 35);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.copy-right-container{
    width: 1160px;
    margin: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.copy-right a{
    color: rgb(158, 166, 183);
}
.copy-right a:hover{
    color: rgb(255, 110, 6);
}
.website-container{
    display: flex;
    flex-direction: row;
}
.website-container a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.website{
    color: rgb(158, 166, 183);
}
.website:hover{
    color: rgb(255, 110, 6);
}